.flex-container                     /*Create a flex container to distribute space in between items*/
{
  display: flex;                    /*flex container becomes flexible by setting the display property to flex*/
  background-color: yellow;     /*Set flex container background color as yellow*/
}/*end of .flex-container*/

.flex-container > 
div
{
  background-color: greenyellow;    /*Set background color as green yellow*/
  margin: 10px;                       /*Set margin as 10px*/   
  padding: 50px;                      /*Set padding as 20px*/
  font-size: 20px;                    /*Set font size as 20px*/
}

h1
{
    font-size: 20px;              /*Set font size as 25px*/
    color: black;              /*Set font color as black*/
    font-style: italic, bold;    /*Set font style as bold/italic*/
}/*End of h1*/

h2
{
    font-size: 20px;              /*Set font size as 25px*/
    color: black;              /*Set font color as black*/
    font-style: italic, bold;    /*Set font style as bold/italic*/
}/*End of h2*/

h3
{
    font-size: 20px;              /*Set font size as 25px*/
    color: black;              /*Set font color as black*/
    font-style: italic, bold;    /*Set font style as bold/italic*/
}/*End of h3*/

p1
{
    font-size:20px;             /*Set font size as 25px*/
    color:black;             /*Set font color as black*/
    font-style:italic;         /*Set font style as italic*/
}/*End of P1*/

#profilePic
{
    display: block;         /*Set image display as block*/
    margin: auto;           /*Set image margin as auto*/
    width: 200px;           /*Set image width as 200px*/
    height: 200px;          /*Set image height as 200px*/
}/*End of profilePic*/