div1 
{
    width:20%;                  /*Set Div width as 10%*/
    display:inline-block;       /*Set Div display as inline-block*/
    padding: 25px 50px;         /*Set padding as 25px 50 px*/
  }/*End of div1*/

div2
{
    width:20%;                  /*Set Div width as 20%*/
    display:inline-block;       /*Set Div display as inline-block*/
    padding: 25px 50px;         /*Set padding as 25px 50 px*/
    font-size: 20px;            /*Set font size as 20px*/
    vertical-align: top;        /*Align text to top*/
}/*End of div2*/

div3
{
    width:40%;                  /*Set Div width as 50%*/
    display:inline-block;       /*Set Div display as inline-block*/
    padding: 25px 50px;         /*Set padding as 25px 50 px*/
    font-size: 20px;            /*Set font size as 20px*/
    vertical-align:top;         /*Align text to top*/
}/*End of div3*/

h1
{
    font-size: 25px;              /*Set font size as 25px*/
    color: black;              /*Set font color as black*/
    font-style: italic, bold;    /*Set font style as bold/italic*/
}/*End of h1*/

h2
{
    font-size: 25px;              /*Set font size as 25px*/
    color: black;              /*Set font color as black*/
    font-style: italic, bold;    /*Set font style as bold/italic*/
}/*End of h2*/

h3
{
    font-size: 25px;              /*Set font size as 25px*/
    color: black;              /*Set font color as black*/
    font-style: italic, bold;    /*Set font style as bold/italic*/
}/*End of h3*/

p1
{
    font-size:20px;             /*Set font size as 25px*/
    color:black;             /*Set font color as black*/
    font-style:italic;         /*Set font style as italic*/
}/*End of P1*/

"#profilePic"
{
    display: block;         /*Set image display as block*/
    margin: auto;           /*Set image margin as auto*/
    width: 100px;           /*Set image width as 100px*/
    height: 100px;          /*Set image height as 100px*/
}/*End of profilePic*/